# 1. Cargar datos

#### Cargamos las librer√≠as que usaremos

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

#### Cargamos el dataset

In [19]:
column_names = ['item_id', 'user_id', 'rating', 'timestamp']

file_path = "./Video_Games.csv"
df = pd.read_csv(file_path, names=column_names, nrows=500000)
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')
df.rename(columns={'timestamp': 'date'}, inplace=True)

df.sample(5)

           item_id         user_id  rating       date
27648   B00002STEZ  A2WOQCPOHQCTL4     5.0 2016-05-24
445084  B000WMEEC6  A3FMXBVBKG0EKM     1.0 2013-07-01
336635  B000I10PY2  A28WTAYAVGQO02     5.0 2015-05-20
431604  B000UW21A0  A1JQR8F55MKN23     4.0 2011-08-31
405831  B000RWWWJ8  A3RPV1XFABCZ0L     3.0 2013-05-21

In [20]:
df.shape

(500000, 4)

#### Dividimos en train y test por fecha

In [21]:
def temporal_split(data, test_ratio=0.2):
    data = data.sort_values('date')
    split = int(len(data) * (1 - test_ratio))
    train = data.iloc[:split]
    test = data.iloc[split:]
    return train, test

x_train, x_test = temporal_split(df)

#### NUM_USERS, NUM_ITEMS, MIN_RATING, MAX_RATING

# 2. KNN

#### Media

In [ ]:
def rating_average (u):
  acc = 0
  count = 0

  for i in range(NUM_ITEMS):
    if ratings[u][i] != None:
      acc += ratings[u][i]
      count += 1

  avg = acc / count

  return avg